<html>
	<head>
		<title>Vebsiam - Self Registration Form</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	</head>
<body>
<h1>Self Registration Form</h1>
	<form action="register" method="post">
		<table cellpadding="0" cellspacing="0" border="0">
		  <tr>
		    <td width="100">User ID:</td>
		    <td width="300"><input name="username"></td>
		  </tr>
		  <tr>
		    <td>Password:</td>
		    <td><input name="password" type="password"></td>
		  </tr>
		  <tr>
		    <td>First Name:</td>
		    <td><input name="firstname"></td>
		  </tr>
		  <tr>
		    <td>Last Name:</td>
		    <td><input name="lastname"></td>
		  </tr>
		  <tr>
		    <td>E-mail:</td>
		    <td><input name="emailid"></td>
		  </tr>
		  <tr>
		    <td>Address:</td>
		    <td><input name="address"></td>
		  </tr>
		  <tr>
		    <td>City:</td>
		    <td><input name="city"></td>
		  </tr>
		  <tr>
		    <td>Country:</td>
		    <td><input name="country"></td>
		  </tr>
		  <tr>
		    <td>ZIP Code or PIN code:</td>
		    <td><input name="zipcode"></td>
		  </tr>
		  <tr>
		    <td>Age:</td>
		    <td><input name="age"></td>
		  </tr>
		  <tr>
		    <td>Gender:</td>
		    <td><input name="gender"></td>
		  </tr>
		  <tr>
		  	<td>reCaptcha -	Prove you're not a robot</td>
		  	<td>
			<iframe
				src="http://www.google.com/recaptcha/api/noscript?k=6LfNpNgSAAAAAOHO92PoBOWPGi8_qvQ0qnbGw-JW"
				height="300" width="500" frameborder="0"></iframe>
			</td>
		</tr>
		<tr>
			<td></td>
		    <td>
				<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
				<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />		
			</td>
		</tr>
		  <tr>
		    <td></td>
		    <td><input value="Register" type="submit"></td>
		  </tr>
		</table>
		
	
	</form>
</body>
</html>
